*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 60px;
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: '';
    background-color: black;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    height: 715px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: '';
    background: url('bg1.jpg') no-repeat center center/cover;
    opacity: 0.89;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
#h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
h1{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    background-color: brown;
    border: 2px solid white;
    color: white;
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #a79c9c;
}
#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    background: url('bg.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;   
}
.client-item{
    padding: 34px;
}
#contact{
    position: relative;
}
#contact::before{
    content: '';
    background: url('contact.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
#contact-box{
    display: flex;
    padding-bottom: 34px;
    align-items: center;
    justify-content: center;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#contact-box input,
#contact-bpx textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
}